<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486247201748-38mn2lmji8pqn8s63tb6pinjueutrkl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486247201748-38mn2lmji8pqn8s63tb6pinjueutrkl3</string>
	<key>API_KEY</key>
	<string>AIzaSyDJBfxsvhN5a2gCrDNSZ55sDCoiN79iQAY</string>
	<key>GCM_SENDER_ID</key>
	<string>486247201748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ShareAway</string>
	<key>PROJECT_ID</key>
	<string>shareaway-e9c48</string>
	<key>STORAGE_BUCKET</key>
	<string>shareaway-e9c48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486247201748:ios:67d1e6f907c5de8a14b441</string>
</dict>
</plist>